body {
    background-color: #ECFCFF;
    margin: 0 ;
    font-family: 'Comfortaa', cursive;
}
.navbar img {
    background-color: #5edfff;
    padding: 5px;
    border-radius: 50%;
    float: left;
    width: 100px;
    height: 100px;
}
.navbar ul {
    font-weight: bold;
    font-size: 2;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #b2fcff;
}
.navbar li {
    float: right;
}
.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #d7feff;
}
@media(max-width: 635px) 
{
    .navbar img {
        padding: 2px;
        width: 25px;
        height: 25px;
    }
    .navbar ul {
        font-weight: bold;
        font-size: 7px;
        padding: 1.5px;
    }
    .navbar li a {
        padding: 5px 7px;
    }
}
.topContainer {
    padding: 0;
    padding-top: 0;
    position: relative;
    margin-top: 0;
    text-align: center;
    background-color: #b2fcff;;
}
.wallpaper {
    margin-top: 100px;
    width: 550px;
    height: 450px;
}
.topContainer h1 {
    font-size: 75px;
    font-family: 'Kalam', cursive;
    margin: 0 auto; 
}
.topContainer p {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Mali', cursive;
    margin: 0 auto;
}
@media(max-width: 635px) 
{
    .wallpaper {
        margin-top: 30px;
        width: 225px;
        height: 175px;
    }
    .topContainer h1 {
        font-size: 22.5px;
    }
    .topContainer p {
        font-size: 10px;
    }
}
.greetings {
    font-weight: bold;
    line-height: 2;
    text-align: center;
    margin-top: 30px;
}
.greetings img {
    background-color: #3e64ff;
    padding: 5px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.greetings h2 {
    margin: 0;
    font-size: 60px;
    font-family: 'Kalam', cursive;
    font-weight: bolder;
}
.greetings p {
    width: 50%;
    margin: 0 auto;
}
@media(max-width: 635px) 
{
    .greetings {
        line-height: 1.5;
        margin-top: 10px;
    }
    .greetings img {
        padding: 2px;
        width: 80px;
        height: 80px;
    }
    .greetings h2 {
        margin: 0;
        font-size: 20px;
    }
    .greetings p {
        width: 60%;
        margin: 0 auto;
        font-size: 7px;
    }
}
.profile {
    font-weight: bold;
    line-height: 2;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.profile h2 {
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 0;
}
.profile img {
    background-color: #3e64ff;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.profile h3 {
    margin: 60px 0 0 0;
}
.profile p {
    margin: 20px 0 0 0;
}
.pendidikan {
    text-align: left;
    margin: 70px auto 120px auto;
}
.pendidikan img {
    margin-right: 50px;
    float: left;
}
.organisasi {
    text-align: left;
    margin: 120px auto;
}
.organisasi img {
    margin-left: 50px;
    float: right;
}
.keahlian {
    text-align: left;
    margin: 120px auto;
}
.keahlian img {
    margin-right: 50px;
    float: left;
}
@media(max-width: 635px) {
    .profile {
        margin-bottom: 35px;
        width: 80%;
        line-height: 1.5;
    }
    .profile h2 {
        font-size: 20px;
        margin-top: 30px;
    }
    .profile img {
        padding: 2px;
        width: 60px;
        height: 60px;
        
    }
    .profile h3 {
        font-size: 10px;
        margin: 7px 0 0 0;
    }
    .profile p {
        font-size: 6px;
        margin: 4px 0 0 0;
    }.pendidikan {
        margin: 16px auto 20px auto;
    }
    .pendidikan img {
        margin-right: 10px;
    }
    .organisasi {
        margin: 20px auto;
    }
    .organisasi img {
        margin-left: 10px;
    }
    .keahlian {
        margin: 20px auto;
    }
    .keahlian img {
        margin-right: 10px;
    }
}
footer {
    text-align: center;
    background-color: #3e64ff;
    padding: 30px;
}
footer a{
    text-decoration: none;
}
.navbar-bottom {
    margin-bottom: 15px;
}
.navbar-bottom a {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 17px;
    margin: 8px 5px;
}
.navbar-bottom a:hover {
    background-color: #6d87f1;
}
.social-media a {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 17px;
    margin: 8px 10px;
}
.social-media a:hover {
    background-color: #6d87f1;
}
@media(max-width: 635px)
{
    footer {
        padding: 10px;
    }
    footer a{
        text-decoration: none;
    }
    .navbar-bottom {
        margin-bottom: 8px;
    }
    .navbar-bottom a {
        padding: 3px;
        font-size: 7px;
        margin: 0 1px;
    }
    .social-media a {
        padding: 3px;
        font-size: 7px;
        margin: 0 3px;
    }
}
